/* styles.css */
@keyframes fallFromAbove {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fallBelow {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0;
    }
  }
  
  .fall-from-above {
    animation: fallFromAbove 0.5s ease-in-out;
  }
  
  .fall-below {
    animation: fallBelow 0.5s ease-in-out;
  }